/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

/* Variable */
:root {
    color: #222222;
}

/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
    /* @media screen and (max-width: 768px) {
        width: 100%;
    } */
}
.flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.w-full {
    width: 100%;
}
a,li {
    text-decoration: none;
    list-style-type: none;
}
.relative {
    position: relative;
}
/* Base */

/* Header */
nav {
    padding: 10px 0;
}

.logo h1 {
    color: #080829;
    font-size: 2rem;
}
.logo h1 span {
    font-size: 2rem;
    color: #3F53D8;
    font-weight: bold;
}
.logo .domain span{
    position: absolute;
    right: 12px;
    top: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.navList {
    gap: 15px;
}
.navLink {
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    color: #222222;
}