/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

/* Variable */

:root {
    --headerHeight: 80px;
    --bgColor: #fff;
    --color: #222222;
    --hover: #787878;
    --black: #000;
}

/* Base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* body {
    margin-top: var(--headerHeight);
} */

.container {
    width: 90%;
    margin: 0 auto;
}

section {
    padding: 100px 0;
}
.section__title {
    font-weight: 400;
    font-size: 42px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1.44px;
    color: #080829;
}
.section__desc {
    max-width: 550px;
    padding-top: 27px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #545479;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Base */


/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bgColor);
    /* background-color: #3F53D8; */
    z-index: 99;
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--headerHeight);
}

.header .navbar .navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header .navbar .navbar-list .navbar-item {
    padding: 0px 10px;
    list-style-type: none;
}

.header .navbar .navbar-list .navbar-item a {
    color: var(--color);
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
}

.header .navbar .navbar-list .navbar-item a:hover {
    color: var(--hover);
}

/* .header .navbar .btn {
    background: transparent;
    color: var(--color);
    padding: 9px 20px;
    font-size: 16px;
    border-radius: 14px;
    border: 1px solid var(--color);
    transition: 1s ease;
} */

.header .navbar .menu {
    display: none;
}

.navbar-btns  {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_cart {
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    color: var(--black);
}
.nav_cart span {
    opacity: .7;
    padding-left: 10px;
    font-size: 14px;
}
.navBtn {
    color: #222222;
    border: 1px solid rgba(8, 8, 41, 0.2);
    border-radius: 14px;
    padding: 12px 26px;
}

.navBtn:hover {
    background: #3F53D8;
    border: 1px solid #3F53D8;
    color: #FFFFFF;
    transition: 1s ease;
}


/* Header */

/* Banner */
.banner_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 1 100%;
}
.banner_content  {
    margin-top: 20px;
}
.banner_content .title {
    font-weight: 400;
    font-size: 55px;
    color: #080829;
}   

.banner_content .desc {
    width: 100%;
    max-width: 495px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    padding-top: 31px;
    letter-spacing: 0.36px;
    color: #080829;
}
.banner_btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
}
.btn-second {
    display: flex;
    width: 240px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #FFFFFF;
    border: 1px solid #3F53D8;
    background: #3F53D8;
    border-radius: 14px;
    padding: 16px 36px;
    transition: 1s ease;
}
.btn-second:hover {
    background: transparent;
    color: var(--color);
    border: 1px solid var(--color);
    transition: 1s ease;
}
.banner_btn img {
    margin-left: 40px;
}

/* Logos */
.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logos_title {
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.48px;
    color: #080829;
}
.logo_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
.logo_item {
    opacity: .8;
    user-select: none;
}
.logo_item:hover {
    opacity: 1;
}

/* Logos */

/* Features */
.features {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.features_cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    flex-wrap: wrap;
    gap: 30px;
}
.features__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    padding: 5px;
    border-radius: 20px;
    color: #000;
}
.feat_img {
    padding: 20px;
    background: rgba(63, 83, 216, 0.3);
    border-radius: 20px;
    margin-bottom: 30px;
}
.img__second {
    background: rgba(254, 127, 81, 0.3);
    border-radius: 20px;
}
.features__card p {
    font-size: 24px;
    text-align: center;
    color: #080829;
}


/* Features */



















/* Tools */
.tools {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tools_cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    flex-wrap: wrap;
    gap: 30px;
}
.tools_card {
    padding: 50px;
}
/* Tools */











/* Responsive */

@media (min-width: 1440px) {
    .container {
        width: 70%;
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .navbar .navbar-item {
        display: none;
    }

    .header .navbar .navbar-list.active {
        position: fixed;
        top: var(--headerHeight);
        left: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        display: block;
        background: var(--bgColor);
        padding-top: 100px;
    }

    .header .navbar .navbar-list.active .navbar-item {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        font-size: 30px;
    }

    .header .navbar .navbar-list.active .navbar-item a {
        font-size: 20px;
        text-transform: uppercase;
    }

    .header .navbar .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        margin: 8px;
        background-color: var(--bgColor);
        border: 1px solid #fff;
        border-radius: 5px;
        cursor: pointer;
    }

    .header .navbar .menu div {
        width: 26px;
        height: 26px;
        margin: 8px;
        position: relative;
    }

    .header .navbar .menu div span {
        width: 100%;
        height: 3px;
        border-radius: 5px;
        background-color: #fff;
        display: block;
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.5s, width 0.5s;
    }

    .header .navbar .menu div .line-1 {
        transform: translate(-50%, -12px);
    }

    .header .navbar .menu div .line-3 {
        transform: translate(-50%, 9px);
    }

    .header .navbar .menu.openmenu .line-1 {
        transform: translate(-50%, 0px) rotate(-45deg) !important;
    }

    .header .navbar .menu.openmenu .line-2 {
        width: 0;
    }

    .header .navbar .menu.openmenu .line-3 {
        transform: translate(-50%, 0) rotate(45deg) !important;
    }
}

@media (max-width: 442px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }
}
