/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
/* Base */
.container {
    width: 70%;
    margin: 0 auto;
    @media screen and (max-width: 992px) {
        width: 80%;
    }
    @media screen and (max-width: 768px) {
        width: 90%;
    }
    @media screen and (max-width: 482px) {
        width: 90%;
    }
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Base */
